html {
  margin: 0;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.43;
  background-color: #fff;
}

strong,
b {
  font-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// ===== flex 布局 =====
.flex {
  display: flex;
}
.flex-y {
  display: flex;
  flex-direction: column;
}
.f-sb {
  justify-content: space-between;
}
.f-sa {
  justify-content: space-around;
}
.f-x-c {
  justify-content: center;
}
.f-x-end {
  justify-content: flex-end;
}
.f-y-c {
  align-items: center;
}
.f-y-start {
  align-items: flex-start;
}
.f-y-end {
  align-items: end;
}
.f-shrink {
  flex-shrink: 0;
}
.flex-w {
  flex-wrap: wrap;
}
.flex-nw {
  flex-wrap: nowrap;
}
